/* -------------------- Global definitions -------------------- */

* {
	box-sizing: border-box;
	font-family: "Segoe UI";
	font-size: 100%;
}

html {
	font-size: 1px;
}

@media screen and (orientation: landscape) and (max-width: 1000px) {
	html { font-size: 0.1vw; }
}

@media screen and (orientation: portrait) and (max-width: 500px) {
	html { font-size: 0.2vw; }
}

body {
	margin: 0;
	font-size: 18rem;
	background-color: white;
}

h1 {
	margin: 10rem 0;
	font-size: 30rem;
}

h2 {
	margin: 10rem 0;
	font-size: 20rem;
}

p {
	margin: 10rem 0;
}

input:disabled+label {
	color: #888888;
}

.top {
	vertical-align: top !important;
}

.middle {
	vertical-align: middle !important;
}

.bottom {
	vertical-align: bottom !important;
}

.left {
	text-align: left !important;
}

.center {
	text-align: center !important;
}

.right {
	text-align: right !important;
}

.hidden {
	display: none !important;
}

/* -------------------- Components -------------------- */

.button {
	display: inline-block;
	height: 34rem;
	line-height: 32rem;
	min-width: 100rem;
	margin: 0;
	padding: 0 10rem 0 10rem;
	border: 1rem solid #000042;
	font-size: 18rem;
	text-decoration: none;
	text-align: center;
	background-color: #000042;
	color: white;
	cursor: pointer;
	/* Fix bug in touch screen */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	border-color: #0042AA;
	background-color: #0042AA;
	transition: 0.2s;
}

.button:disabled {
	border-color: #5B6C7D;
	background-color: #5B6C7D;
	color: #E0E0E0;
}

/* Fix CSS bug in Firefox */
.button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

img.image {
	display: inline-block;
	width: 300rem;
	max-width: 100%;
}

/* -------------------- Navigation bar -------------------- */

nav {
	display: block;
	max-width: 800rem;
	margin: auto;
	font-size: 24rem;
	padding: 0 10rem 0 10rem;
}

nav .link {
	padding: 5rem;
	color: #888888;
	text-decoration: none;
	cursor: pointer;
}

nav .link:hover {
	background-color: #E0E0E0;
}

nav .link.active {
	color: #0042AA;
	text-decoration: underline;
}

/* -------------------- Content -------------------- */

content {
	display: block;
	max-width: 800rem;
	margin: auto;
	padding: 0 10rem 50rem 10rem;
}

.block {
	display: block;
	margin: 20rem 0 20rem 0;
	border-top: 1px solid #E0E0E0;
}

h2 .link {
	float: right;
}

/* -------------------- Tab list overview -------------------- */

dl.accordion {
	display: block;
}

dl.accordion>dt	 {
	display: block;
	position: relative;
	margin: 0;
	padding: 5rem 40rem 5rem 15rem;
	border: 1rem solid #AAAAAA;
	border-width: 0 1rem 1rem 1rem;
	font-size: 20rem;
	background-color: #5B6C7D;
	color: white;
	cursor: pointer;
}

dl.accordion>dt:first-child {
	border-top: 1rem solid #AAAAAA;
}

dl.accordion>dt.active {
	background-color: #000042;
	color: white;
}

dl.accordion>dt:hover, dl.accordion>dt.active:hover {
	background-color: #0042AA;
	transition: 0.2s;
}

dl.accordion>dt>.icon {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 30rem;
	line-height: 30rem;
	width: 40rem;
	margin: auto;
	font-size: 20rem;
	text-align: center;
}

dl.accordion>dt>.icon::before {
	content: "\2795";
}

dl.accordion>dt.active>.icon::before {
	content: "\2796";
}

dl.accordion>dd	 {
	display: none;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1rem solid #AAAAAA;
	border-width: 0 1rem 1rem 1rem;
	background-color: white;
}

dl.accordion>dt.active+dd {
	display: block;
}

table.list-tabs {
	display: table;
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

table.list-tabs>tr:first-child {
	border-top: 0;
}

table.list-tabs>tr {
	border-top: 1rem solid #E0E0E0;
}

table.list-tabs>tr.incognito {
	background-color: #888888;
	color: white;
}

table.list-tabs>tr>td:nth-child(1) {
	position: relative;
	width: 35rem;
	padding: 5rem;
	text-align: center;
}

table.list-tabs>tr>td:nth-child(2) {
	padding: 5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.list-tabs>tr>td:nth-child(3) {
	width: 60rem;
	padding: 0 8rem 0 8rem;
	text-align: right;
}

.msgbox {
	display: none;
	padding: 5rem;
	text-align: center;
}

table.list-tabs:empty~.msgbox {
	display: block;
}

.tabcount {
	display: inline-block;
	line-height: 25rem;
	min-width: 25rem;
	padding: 0 2rem 0 2rem;
	border-radius: 12.5rem;
	text-align: center;
	font-size: 18rem;
	background-color: #000042;
	color: white;
	opacity: 0.9;
}

.image+.tabcount {
	position: absolute;
	right: 0;
	bottom: 2rem;
	line-height: 15rem;
	min-width: 15rem;
	border-radius: 7.5rem;
	font-size: 11rem;
}

/* -------------------- Settings -------------------- */

ul.list-options-v {
	display: block;
	margin: 10rem 0 10rem 0;
	padding: 0;
	list-style: none;
}

ul.list-options-v>li {
	padding: 5rem 0 5rem 0;
}

ul.list-options-v>li:hover {
	background-color: #E0E0E0;
}

ul.list-options-h {
	display: block;
	margin: 10rem 0 10rem 0;
	padding: 0;
}

ul.list-options-h>li {
	display: inline-block;
	padding: 5rem;
	margin: 0 5rem 0 5rem;
}

ul.list-options-h>li:hover {
	background-color: #E0E0E0;
}

/* -------------------- Footer -------------------- */

footer {
	display: block;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10rem;
	text-align: center;
	background-color: white;
	box-shadow: 0 0 5rem rgba(0,0,0,0.175);
}

/* -------------------- Icons -------------------- */

.icon-true, .icon-false, .icon-reset {
	display: inline-block;
	height: 35rem;
	line-height: 35rem;
	font-size: 24rem;
	font-weight: bold;
	cursor: pointer;
}

.icon-true {
	color: #22DD22;
}

.icon-true:hover {
	color: #00AA00;
	transition: 0.2s;
}

.icon-true::before {
	content: "\2713";
}

.icon-false {
	color: #DD2222;
}

.icon-false:hover {
	color: #AA0000;
	transition: 0.2s;
}

.icon-false::before {
	content: "\2715";
}

.icon-reset {
	color: #0072C6;
}

.icon-reset:hover {
	color: #0052A6;
	transition: 0.2s;
}

.icon-reset::before {
	content: "\21BB";
}

.icon-help {
	display: inline-block;
	height: 25rem;
	line-height: 25rem;
	width: 25rem;
	border-radius: 50%;
	text-align: center;
	background-color: #CCCCCC;
	color: white;
}

.icon-help:hover {
	background-color: #BBBBBB;
	transition: 0.2s;
}

.icon-help::before {
	content: "\003F";
}
