/* -------------------- Colors -------------------- */

body {
	color: white;
	background-color: #222222;
}

.link {
	color: white;
}

header {
	background-color: #333333;
}

header .header-button>button:hover {
	background-color: #222222;
}

nav {
	background-color: #333333;
}

nav .link {
	color: #888888;
}

nav .link:hover {
	background-color: #222222;
}

nav .link.active {
	color: white;
}

nav .nav-button>button:hover {
	background-color: #222222;
}

nav ul.list-actions {
	background-color: #333333;
}

nav ul.list-actions button:hover {
	background-color: #222222;
}

nav ul.list-actions button:disabled {
	color: #888888;
	background-color: #333333;
}

content ul.list-actions button:hover {
	background-color: #333333;
}

content ul.list-actions button:disabled {
	color: #888888;
	background-color: #222222;
}

ul.slideshow {
	background-color: #333333;
}

ul.list-options>li:hover {
	background-color: #333333;
}

ul.list-options.fullwidth label:hover {
	background-color: #333333;
}

table.list-tabs {
	border-color: #888888;
}

table.list-tabs>tr {
	border-color: #333333;
}

table.list-tabs>tr:hover {
	background-color: #333333;
}

.icon-help {
	background-color: #333333;
}

.icon-help:hover {
	background-color: #444444;
}
